<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css" >

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(employees)}">
        <h2>Employee List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Salary</th>
                <th>Departement</th>
                <th>Rank</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.fullname}"></td>
                <td th:text="${employee.salary}"></td>
                <td th:text="${employee.departement}"></td>
                <td th:text="${employee.rank}"></td>
                <td><a th:href="${'/employee/show/' + employee.id}">View</a> </td>
                <td><a th:href="${'/employee/edit/' + employee.id}">Edit</a> </td>
                <td><a th:href="${'/employee/delete/' + employee.id}">Delete</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/employee/new"><button class="btn btn-success"> New Employee</button></a>
            
        </div>
    </div>
</div>

</body>
</html>